<!-- More info on http://docs.build.phonegap.com/en_US/configuring_basics.md.html#The%20Basics -->
<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
	xmlns:gap   = "http://phonegap.com/ns/1.0"
	id          = "com.ggg.stiiiiicks"
	version     = "0.0.1"
	versionCode = "1" >
	<!-- versionCode is optional and Android only -->

	<!-- The name of the application -->
	<name>StiiiiickS</name>
	<!-- A description for your application -->
	<description>
		Prototype
	</description>
	<!-- Author -->
	<author href="http://www.gaga-graphics.com" email="johnny_xu_1227@hotmail.com">
		Johnny Xu
	</author>

	<!-- Core APIs/Plugins -->
	<!-- refer to: https://build.phonegap.com/plugins -->
	<gap:plugin name="org.apache.cordova.device" />
	<gap:plugin name="org.apache.cordova.dialogs" />
	<gap:plugin name="org.apache.cordova.console" />
	<gap:plugin name="org.apache.cordova.network-information" />

	<!-- Platforms -->
	<gap:platform name="ios" />
	<gap:platform name="android" />

	<!-- Perfs: multi-platform -->
	<preference name="phonegap-version" value="3.7.0" />
	<preference name="orientation" value="portrait" />

	<!-- Perfs: iOS -->
	<preference name="target-device" value="handset" />
	<preference name="deployment-target" value="7.0" /><!-- sets MinimumOSVersion in the ipa Propertly List -->
	<preference name="prerendered-icon" value="true" /><!-- stop glossy effect to be added to icon -->
	<preference name="detect-data-types" value="false" /><!-- stop turning certain data types into links -->
	<preference name="exit-on-suspend" value="false" /><!-- app will terminate when suspended -->
	<preference name="webviewbounce" value="false" /><!-- stop "bounces" when scrolled beyond on iOS -->
	<preference name="stay-in-webview" value="false" /><!-- all links open in the app's webview -->

	<!-- Perfs: Android -->
	<preference name="android-installLocation" value="internalOnly" /><!-- install location -->
	<preference name="android-minSdkVersion" value="14" /><!-- Minimum Android SDK version -->

	<!-- Icon: default -->
	<icon src="icon-180.png" />

	<!-- Icon: iOS -->
	<icon src="res/icon/ios/icon-180.png" gap:platform="ios" width="180" height="180" /><!-- iPhone 6 / 6+ -->
	<icon src="res/icon/ios/icon-120.png" gap:platform="ios" width="120" height="120" /><!-- iPhone / iPod Touch -->
	<icon src="res/icon/ios/icon-60.png" gap:platform="ios" width="60" height="60" /><!-- iPhone / iPod Touch -->

	<!-- Icon: Android -->
	<icon src="res/icon/android/icon-48.png" gap:platform="android" gap:qualifier="ldpi" />
	<icon src="res/icon/android/icon-72.png" gap:platform="android" gap:qualifier="mdpi" />
	<icon src="res/icon/android/icon-96.png" gap:platform="android" gap:qualifier="hdpi" />
	<icon src="res/icon/android/icon-144.png" gap:platform="android" gap:qualifier="xhdpi" />
	<icon src="res/icon/android/icon-192.png" gap:platform="android" gap:qualifier="xxhdpi" />
	<icon src="res/icon/android/icon-192.png" gap:platform="android" gap:qualifier="fr-xxhdpi" />

	<!-- Splash: iOS -->
	<gap:splash src="res/screen/ios/launch-portrait-640x960.png" gap:platform="ios" width="640" height="960" />
	<gap:splash src="res/screen/ios/launch-portrait-640x1136.png" gap:platform="ios" width="640" height="1136" />
	<gap:splash src="res/screen/ios/launch-portrait-750x1334.png" gap:platform="ios" width="750" height="1334" />
	<gap:splash src="res/screen/ios/launch-portrait-1242x2208.png" gap:platform="ios" width="1242" height="2208" />

	<!-- Splash: android -->
	<gap:splash src="res/screen/android/launch-portrait-480x800.png" gap:platform="android" gap:density="ldpi" />
	<gap:splash src="res/screen/android/launch-portrait-480x800.png" gap:platform="android" gap:density="mdpi" />
	<gap:splash src="res/screen/android/launch-portrait-720x1280.png" gap:platform="android" gap:density="hdpi" />
	<gap:splash src="res/screen/android/launch-portrait-720x1280.png" gap:platform="android" gap:density="xhdpi" />

	<!-- Access -->
	<access origin="*" />
</widget>
